<ul class="nav nav-tabs nav-justified mb-4">
  <li class="nav-item">
    <a
      class="nav-link <%= path==='/workingInformation' ? 'active' : ''%>"
      href="/workingInformation"
      >Tổng quát</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link <%= path==='/workingInformation/working-time' ? 'active' : ''%>"
      href="/workingInformation/time-info"
      >Thông tin giờ làm</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link <%= path==='/workingInformation/salary-info' ? 'active' : ''%>"
      href="/workingInformation/salary-info"
      >Thông tin lương tháng</a
    >
  </li>
</ul>
